[alias]
  co = checkout
  st = status
  br = branch
  prune = fetch --prune
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

showUntrackedFiles = all
[user]
	name = Deepak Pai
	email = deepak.pai@booking.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree 2.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	proxy = http://webproxy.lhr4.corp.booking.com:3128
